<ul class="list-group">
    <li class="list-group-item active">portfolio</li>
    <li class="list-group-item"><a href='oss12.html' target=mypage>공개소프트 12회</a></li>
    <li class="list-group-item"><a href='oss13.html' target=mypage>공개소프트 13회</a></li>
</ul>
<br>
<ul class="list-group">
    <li class="list-group-item"><a href='http://www.yes24.com/Product/Goods/89522012?scode=032&OzSrank=1' target=_blank>Git 교과서</a></li>
    <li class="list-group-item"><a href='http://www.yes24.com/Product/Goods/58072924?scode=032&OzSrank=25' target=_blank>이호진의 PHP</a></li>
</ul>
<br>
