<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">이호진(202031123)</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href=home.html target=_top>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=profile.html>Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=hobby.html target=mypage>Hobby</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=portfolio.html>Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=contact.html target=mypage>Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>