<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
             <!-- Post Content Column -->
            <div class="col-lg-3">
                <img src='./img/hojin.jpg' border=5 style='border-radius:50%'>
            </div>

            <!-- Sidebar Column -->
            <div class="col-lg-9">
                <h1 class="display-4">기말고사-홈페이지</h1>
                <p class="lead">본 홈페이지는 HTML5 기말고사 리포트 제출용으로 제작된 사이트 입니다.</p>
                <hr class="my-4">
                <p>고려사이버대학교: 이호진(202031123)</p>
                <a class="btn btn-primary btn-lg" href="home.html" role="button"
                    onMouseOver="this.innerHTML='클릭하세요'" 
                    onMouseOut="this.innerHTML='페이지이동'" >페이지이동</a>       
            </div>
        </div>        
    </div>
</div>