---
layout: default
---
<header>
    {%- include title.html -%}
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-9">
            <main role="main">
                <section>
                    {{ content }}
                </section>
            </main>
        </div>

        <!-- Sidebar Column -->
        <div class="col-md-3">
            <aside>
                {%- include menu_portfolio.html -%}
            </aside>            
         </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->